.sidebar {
    position: fixed;
    top: 0;
    right: -300px;
    /* Initially hidden */
    height: 100%;
    width: 50%;
    background-color: #fff;
    transition: right 0.3s ease;
    /* Add smooth transition */
    z-index: 9999;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.sidebar.open {
    right: 0;
    /* Displayed */
}

.sidebar-header {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}



.cart-item {
    display: flex;
    // justify-content: space-between;
    // align-items: center;
    margin-bottom: 10px;
}

.cart-item button {
    background-color: #ff0000;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}